<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admade</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/my_style.css">

</head>
<body>


<div class="container">
      <nav class="navbar bg-light navbar-light navbar-expand-lg rounded-bottom">
      <a href="" class="navbar-brand text-light mt-0 pt-0"><i class="fa fa-graduation-cap text-primary "></i> <strong class="border border-primary text-primary p-2 rounded">Ad</strong> <strong class="border border-success text-success p-2 rounded">Pad</strong></a>

      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-3 mr-auto pt-0">
              <li class="nav-item">
                  <a href="" class="nav-link active">Home</a>
              </li>

               <li class="nav-item">
                  <a href="" class="nav-link ">Get Started</a>
              </li>

               <li class="nav-item">
                  <a href="" class="nav-link ">login</a>
              </li>

               <li class="nav-item">
                  <a href="" class="nav-link ">Help</a>
              </li>

               <li class="nav-item">
                  <a href="" class="nav-link ">About</a>
              </li>

               <li class="nav-item">
                  <a href="" class="nav-link ">FAQ</a>
              </li>
               <li class="nav-item">
                  <a href="" class="nav-link ">Blog</a>
              </li>

              <li class="nav-item">
                 <a href="" class="nav-link ">Pricing</a>
              </li>


          </ul>
          <ul class="navbar-nav ml-auto">
              <li class="nav-link">
                <a href="" class="btn btn-outline-primary"><b>GET STARTED</b></a>
              </li>
          </ul>
      </div>
  </nav>

</div>
<div class="container mt-5">

    <div class="row">

        <div class="col-md-3">
            <div class="card rounded m-1">
                <div class="card-body">
                    hello 1
                </div>
            </div>
            <div class="card rounded m-1">
                <div class="card-body">
                    hello 1
                </div>
            </div>
            <div class="card rounded m-1">
                <div class="card-body">
                    hello 1
                </div>
            </div>
            <div class="card rounded m-1">
                <div class="card-body">
                    hello 1
                </div>
            </div>
            <div class="card rounded m-1">
                <div class="card-body">
                    hello 1
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card rounded m-1">
                <div class="card-body">
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur corporis doloremque eligendi enim ex explicabo hic id ipsam, odit, quasi recusandae similique voluptatibus? Exercitationem ipsa necessitatibus omnis placeat repellat?</p>
                </div>
            </div>
            <div class="card rounded m-1">
                <div class="card-body">
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur corporis doloremque eligendi enim ex explicabo hic id ipsam, odit, quasi recusandae similique voluptatibus? Exercitationem ipsa necessitatibus omnis placeat repellat?</p>
                </div>
            </div>
            <div class="card rounded m-1">
                <div class="card-body">
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur corporis doloremque eligendi enim ex explicabo hic id ipsam, odit, quasi recusandae similique voluptatibus? Exercitationem ipsa necessitatibus omnis placeat repellat?</p>
                </div>
            </div>
            <div class="card rounded m-1">
                <div class="card-body">
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur corporis doloremque eligendi enim ex explicabo hic id ipsam, odit, quasi recusandae similique voluptatibus? Exercitationem ipsa necessitatibus omnis placeat repellat?</p>
                </div>
            </div>
            <div class="card rounded m-1">
                <div class="card-body">
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur corporis doloremque eligendi enim ex explicabo hic id ipsam, odit, quasi recusandae similique voluptatibus? Exercitationem ipsa necessitatibus omnis placeat repellat?</p>
                </div>
            </div>
            <div class="card rounded m-1">
                <div class="card-body">
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur corporis doloremque eligendi enim ex explicabo hic id ipsam, odit, quasi recusandae similique voluptatibus? Exercitationem ipsa necessitatibus omnis placeat repellat?</p>
                </div>
            </div>
            <div class="card rounded m-1">
                <div class="card-body">
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur corporis doloremque eligendi enim ex explicabo hic id ipsam, odit, quasi recusandae similique voluptatibus? Exercitationem ipsa necessitatibus omnis placeat repellat?</p>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="card rounded m-1">
                <div class="card-body">
                    hello 2
                </div>
            </div>
            <div class="card rounded m-1">
                <div class="card-body">
                    hello 2
                </div>
            </div>
            <div class="card rounded m-1">
                <div class="card-body">
                    hello 2
                </div>
            </div>
            <div class="card rounded m-1">
                <div class="card-body">
                    hello 2
                </div>
            </div>
        </div>










    </div>
</div>










  <script src="../static/js/jquery.js"></script>
  <script src="../static/js/popper.js"></script>
  <script src="../static/js/bootstrap.js"></script>
</body>
</html>